$color-primary:#3046c5;
$color-secondary: #5637dd;
$color-pale:#cec8ff;
$color-mid:#901cad;
$color-dark:#60106b;
$color-black-transparent:rgba(0,0,0,0.5);
$body-font:"Open Sans", sans-serif;
$header-font:"Lobster", cursive;
/* VARIABLES */
$color-teal: #17A2B8;


/* Create Variables at top of page - then replace definitions down inside the CSS file
   Next, NEST your styles using the curly brackets
   Next, COMPILE your SCSS file to CSS 
   Install using  'npm install --save-dev node-sass@4.12.0
   Now open package.json and add 2 lines under "scripts":
     "lite": "lite-server",
     "scss": "node-sass -o css/ css/",
     from terminal - type: 'npm run scss
   */



body {
    font-family: $body-font;
}

h1, h2, h3 {
    font-family: $header-font;
}

h2 {
    color: $color-primary;
}

header {
    h2 {
    color: $color-pale;
    }
}

footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    margin:0;
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD,$color-primary, #60106B);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.navbar{
    background-color: #901CAD;
}
.tab-content{
    border: 1px solid#DDD;  /* gives a border around each tab content panel */
    border-top: none;
    padding:10px;
}
#loginBtn:hover {cursor: pointer;}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #5637DD;
}
#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
}



#registrationModal {
    .modal-header{background-color:$color-teal; color:white;}
}

#loginModal {
    .modal-header{background-color:$color-mid; color:white;}
}


